%p Work in progress.

%h1 Blog

- posts = []
- posts.push({ title: 'We\'re approaching women in tech wrong', url: '/women-in-tech' })
- posts.push({ title: 'Getting Started with Git', url: '/starting-with-git' })

.posts
  - posts.each do |post|
    .post
      %a{ href: post[:url] }
        %h3= post[:title]
