!!!
%html
  %head
    %link{rel: 'stylesheet', href: '/stylesheets/reveal.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}
  %body
    .reveal
      .slides
        =yield
    %script{src: '/javascripts/reveal.js'}
    %script Reveal.initialize();
