!!!
%html
  %head
    %link{rel: 'stylesheet', href: '/stylesheets/reveal.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}
  %body
    .reveal
      .slides
        =yield
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/headjs/0.96/head.min.js'}
    %script{src: '/javascripts/reveal.js'}
    :javascript
      Reveal.initialize({
        history: true,
        dependencies: [
          { src: "/javascripts/notes/notes.js", async: true }
        ]
      });
