%h1 Slides

- slides = []
- slides.push({ title: 'Diversity in Coding', url: '/slides/diversity-in-coding' })
- slides.push({ title: 'Intermediate JavaScript - Having Fun in the Browser', url: '/slides/intermediate-javascript-having-fun-in-the-browser' })
- slides.push({ title: 'Command Line Git', url: '/slides/command-line-git' })
- slides.push({ title: 'Merging, and (some) Stashing', url: '/slides/merging-stashing' })
- slides.push({ title: 'Git Best Practices (Allstate-specific)', url: '/slides/git-best-practices' })
- slides.push({ title: 'ssh & vim', url: '/slides/ssh-vim' })

.slides
  - slides.each do |slide|
    .slide
      %a{ href: slide[:url] }
        %h3= slide[:title]
