%link{rel: 'stylesheet', href: '/stylesheets/league.css'}
%section
  %h1 Command line Git
  %h6 Melissa Noelle
%section
  %h2 git clone
%section
  %h2 pull, commit, push
%section
  %h2 branch
%section
  %h2 merge and rebase
%section
  %h2 log
%section
  %h2 Keep in touch!
  %h3 Melissa Noelle
  %h4 melissanoelle.com/slides
  %h6 Twitter: @meladamaitis

