%link{rel: 'stylesheet', href: '/stylesheets/night.css'}
%section
  %h1 Diversity in Coding
  %h6 Melissa Noelle
%section
  %h2 Get along with eachother
%section
  %h2 Empathy
%section
  %h6 Goal #1
  %p Understand where your partner is coming from
  .fragment
    %h6 Goal #2
    %p Help your partner understand where you are coming from
%section
  %h2 Let go of ego
%section
  %h6 Antigoal
  %p.fragment Convince your partner that they're wrong
%section
  %h2 Be Polite
%section
  %h6 Manners
  %p Sure.
  %p.fragment Don't give orders.
  .fragment
    %h6 Equal Treatment
    %p Don't use jokes that rely on stereotypes
  .fragment
    %p Common stereotypes to avoid: gender, ethnicity/race, sexuality, religion, hair color...
%section
  %h2 Don't should on yourself
%section
  %h6 Should-ing on yourself:
  %p.fragment "I should have used Ruby instead of Java."
  .fragment
    %h6 Try this instead:
    %p "I learned a lot about the technical differences between Ruby and Java, and I can make a more informed decision next time."
  .fragment
    %h6 Should-ing on yourself:
    %p "I shouldn't have taken this project--it's so much work!"
  .fragment
    %h6 Try this instead:
    %p "Wow, I've learned a lot about the kind of work load I can handle. Next time I'll negotiate my time better, and for now I'll reach out to my boss and peers for help."
%section
  %h2 Open, clear communication
%section
  %h6 You cannot read people's minds
  %h6.fragment People cannot read your mind
  %h6.fragment Creativity and collaboration thrive when everyone is talking openly
%section
  %h3 Empathy
  %p.fragment understand and be understood
  %h3 Let go of ego
  %p.fragment discuss, don't argue
  %h3 Be polite
  %p.fragment no stereotypes, use your manners
  %h3 Don't should on yourself
  %p.fragment don't allow yourself to be your own worst critic
  %h3 Open, clear communication
  %p.fragment we all are not mind readers
%section
  %h2 Keep in touch!
  %h3 Melissa Noelle
  %h4 melissanoelle.com/slides
  %h6 Twitter: @meladamaitis
