%link{rel: 'stylesheet', href: '/stylesheets/league.css'}
%section
  %h1 Diversity in Coding
  %h6 Melissa Noelle
%section
  %h2 Get along with eachother
%section
  %h2 Empathy
%section
  %h2 Be Polite
%section
  %h2 Let go of ego
%section
  %h2 Don't should on yourself
%section
  %h2 Open, clear communication
%section
  %h2 Keep in touch!
  %h3 Melissa Noelle
  %h4 melissanoelle.com/slides
  %h6 Twitter: @meladamaitis
