%link{rel: 'stylesheet', href: '/stylesheets/beige.css'}
%section
  %h1 Intermediate JavaScript
  %h2 omg hi did the thing
  %h6 Melissa Noelle
%section
  %img{src: '/images/not_enough_time.jpg'}
%section
  %img{src: '/images/doge_inspiration.jpg'}
%section
  %h2 WebRTC
  %p.fragment (that's Real Time Communication)
%section
  %p allows you to share video and microphone through the browser
%section
  %p pretty simple:
  %video#webrtc-demo{ autoplay: true }
  #errorMsg
  %h6 More fun:
  %a{href: "https://github.com/webrtc/samples"} https://github.com/webrtc/samples
  %script{ src: '/javascripts/adapter.js' }
  %script{ src: '/javascripts/common.js' }
  %script{ src: '/javascripts/webrtc-demo.js' }
%section
  %h2 &lt;canvas&gt;
%section
  %script{ src: '/javascripts/canvas-game.js' }
  %p you can make games in your browser, like this one:
  #canvas-holder{ height: '512', width: '480' }
  %a{ href: 'http://www.lostdecadegames.com/demos/simple_canvas_game/' } http://www.lostdecadegames.com/demos/simple_canvas_game/
%section
  %h2 More fun:
  %a{href: 'http://paperjs.org/examples/'} http://paperjs.org/examples/
%section
  %h2 React
  %h6.fragment Angular, Ember, Polymer....
%section
  %h2 Testing
  %h4 phantom.js, Jest for React, Protractor for Angular....

%section
  %h2 Keep in touch!
  %h3 Melissa Noelle
  %h4 melissanoelle.com/slides
  %h6 Twitter: @meladamaitis

