%link{rel: 'stylesheet', href: '/stylesheets/league.css'}
%section
  %h1 Intermediate JavaScript
  %h2 Fun in the Browser
  %h6 Melissa Noelle
%section
  %h2 synchronous vs. asynchronous functions
%section
  %h2 Websockets
%section
  %h2 WebRTC
%section
  %h2 Keep in touch!
  %h3 Melissa Noelle
  %h4 melissanoelle.com/slides
  %h6 Twitter: @meladamaitis
