= haml :'partials/post_title', locals: { post_title: 'Starting with Git', post_date: Date.parse('May 7, 2016') }

.content
  :markdown
    git git git git git

    `code code code`

    ```multiline
    code block
    here maybe?```
