= haml :'partials/post_title', locals: { post_title: 'We\'re approaching women in tech wrong', post_date: Date.parse('August 12, 2016') }

.content
  :markdown
    Tech has a diversity problem. It's not limited to just a problem with gender, it's also race and age. Maybe even some others. For me, as a white female, the one I'm most impacted by is gender diversity so I tend to focus on it.

    There are a lot of "programs" and "initiatives" designed to encourage women to participate and join tech if they haven't already, or to try to make us feel welcomed and appreciated if we already are. These can be kind of helpful and kind of nice, I guess, and I don't really want to talk about these things.

    What I want to talk about are the 100% all women, women-only coding bootcamps and workshops. 

    This may be an unpopular opinion, but I think that these are all wrong. I really do! Hear me out though. I've thought about this a lot, and I think that they're actually actively hurting integrating your average white male programmer with people who are different from him.

    ##### It doesn't *actually* encourage women to feel confident in their skills and abilities

    I've attended (and volunteered to teach at) a lot of these women-only workshops. They are almost always entry-level oriented. Women who go through these and gain skills and knowledge generally don't have an avenue to continue their education but to attend the same selection of entry-level workshops and programs... implying that women aren't educated, skilled, or prolific enough for a workshop to bridge to the intermediate level. It reinforces the idea that women don't know much yet and keeps a perpetual "I'm new!" attitude.

    ##### It doesn't *actually* encourage women to feel confident socially in a development environment

    By sequestering women away from men, it sometimes happens that when you take them out of that safe environment with people like them (females interested in learning more about tech) that they are less confident. 

    ##### It doesn't help the average white male programmer to see people who aren't like him as his development equal

    By preventing the average white male programmer from joining in on your learning, they're being told that there is a reason why women and men need to be separated. Separation is usually seen as having been done for a reason, and sometimes this reason is assumed to be because one group is different than the other. Different is sometimes thought to be "bad", so looking around at the industry and finding a lot of people like you, you might think that perhaps your group is less "bad" because there are so many of you.

    ##### It makes the average white male programmer feel excluded, and exclusion feels bad

